body {
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 20px;
}
